#editUserInfo{
    top: 132px;
    position: absolute;
    left: 95px;
}
.a_edit_info{
    margin-top: 8px;
    margin-left: 5px;
    color: #666666;
}
#editInfo{
    padding: 50px 180px;
}
#editInfo_name_input{
    width: 100%;
}
.red_span{
    color: red;
}
.editInfo{
    margin-bottom: 20px;
}
.genderInfo{
    padding: 5px;
    display: inline-block;
    width: 49%;
    border: 1px solid #cccccc;
}
.genderRadio{
    margin-top: 5px;
}
#for_margin{
    margin-bottom: 400px;
}
#btn_editInfo{
    background-color: #00af00;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 3px;
}